/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
margin: 10px;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
  
 .padding {
    padding: 3rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #3da5f;
    border-radius: 0
}

.card .card-block {
   padding: 1.25rem;
}



.text-c-green {
   color: #2ed8b6;
}

.m-l-10 {
   margin-left: 10px;
}

.proj-progress-card .progress {
   height: 6px;
   overflow: visible;
   margin-bottom: 10px;
}

.proj-progress-card .progress .progress-bar {
   position: relative;
}

.progress .progress-bar {
   height: 100%;
   color: inherit;
}

.bg-c-red {
   background: #FF5370;
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
   border: 3px solid #FF5370;
}

.proj-progress-card .progress .progress-bar:after {
   content: "";
   background: #fff;
   position: absolute;
   right: -6px;
   top: -4px;
   border-radius: 50%;
   width: 15px;
   height: 15px;
}

.bg-c-blue {
   background: #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
   border: 3px solid #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
   border: 3px solid #2ed8b6;
}

.bg-c-green {
   background: #2ed8b6;
}

.bg-c-yellow {
   background: #FFB64D;
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
   border: 3px solid #FFB64D;
}

.m-b-30 {
   margin-bottom: 10px;
}

.text-c-red {
   color: #FF5370;
}
.text-c-blue {
    color: #4099ff;
 }
 



 .post-list .single-post {
    padding: 30px;
    background-color: #f9f9ff;
    margin-bottom: 30px;
  }
  
  .post-list .single-post h6 {
    margin-top: 10px;
    color: #222;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
  }
  
  @media (max-width: 414px) {
    .post-list .single-post h6 {
      font-size: 10px;
    }
  }
  
  .post-list .single-post h5 {
    color: #222;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .post-list .single-post .address {
    color: #222;
    margin-bottom: 15px;
  }
  
  .post-list .single-post .btns li {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px 15px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .post-list .single-post .btns li i, .post-list .single-post .btns li a {
    text-transform: uppercase;
    font-weight: 500;
    color: #222;
  }
  
  .post-list .single-post .btns li:hover {
    background-color: #49e4fa;
  }
  
  .post-list .single-post .btns li:hover a, .post-list .single-post .btns li:hover i {
    color: #fff;
  }
  
  @media (max-width: 414px) {
    .post-list .single-post .btns li {
      margin-bottom: 5px;
    }
  }
  
  .post-list .single-post .thumb .tags {
    margin-top: 30px;
  }
  
  .post-list .single-post .thumb .tags li {
    margin-bottom: 5px;
    display: inline-block;
    background: #fff;
    border: 1px solid #eee;
    padding: 6px 15px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .post-list .single-post .thumb .tags li a {
    color: #777777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .post-list .single-post .thumb .tags li:hover {
    background-color: #49e4fa;
  }
  
  .post-list .single-post .thumb .tags li:hover a {
    color: #fff;
  }
  
  @media (max-width: 736px) {
    .post-list h4 {
      font-size: 16px;
    }
    .post-list .btns a {
      font-size: 10px;
    }
  }
  
  @media (max-width: 414px) {
    .post-list .single-post.flex-row {
      flex-direction: column !important;
      display: inline-block !important;
    }
    .post-list .title.flex-row {
      flex-direction: column !important;
      display: inline-block !important;
    }
    .post-list .details {
      margin-top: 30px;
    }
  }
  
  .post-list .loadmore-btn {
    text-align: center;
    background-color: #49e4fa;
    color: #fff;
    padding: 8px 15px;
    margin-top: 60px;
    max-width: 200px;
  }
  .folded-corner:hover .text{
    visibility: visible;
    color: #fff;;
  }
  .Services-tab{
    margin-top:20px;
   
    float: left;
    margin: 6px;
}
  
  /*
    nav link items
  */
  .folded-corner{
    padding: 25px 25px;
    position: relative;
    font-size: 90%;
    text-decoration: none;
    color: #ff695f; 
    background: transparent;
    transition: all ease .5s;
    border: 1px solid #ccc;
  }
  .folded-corner:hover{
    background-color: #ff695f;
  }
  
  /*
    paper fold corner
  */
  
  .folded-corner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0px 0px 0;
    border-color: #ddd #000;
    transition: all ease .3s;
  }
  
  /*
    on li hover make paper fold larger
  */
  .folded-corner:hover:before {
    background-color: #D00003;
    border-width: 0 50px 50px 0;
    border-color: #eee #000;
    
  }
  
  .service_tab_1{
    background-color: #f6f4f9;
  }
  .service_tab_1:hover .fa-icon-image{
      color: #fff;
      transform: rotate(360deg) scale(1.5);
  }
  
  
  .fa-icon-image{
    color: #ff695f;
    display: inline-block;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      font-size-adjust: none;
      font-stretch: normal;
      -moz-font-feature-settings: normal;
      -moz-font-language-override: normal;
      text-rendering: auto;
      transition: all .65s linear 0s;
      text-align: center;
      transition: all 1s cubic-bezier(.99,.82,.11,1.41);
  }

  .text{

    text-align: center;
  }
.mg_service{
margin: 10px;

}

  @media (min-width: 1200px)
  .col-lg-3 {
      width: 25%;
  }  